<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Formulario de edição de tarefa</h1>
    <div class="cadastrar">
        <form th:action="@{/atualizar}" method="post"> <!--Usando a rota dinamica @-->
            <input type="text" name="tarefa" th:value="${tarefa.tarefa}">
            <br><br>
            <input type="date" name="dataLimite" th:value="${tarefa.dataLimite}">
            <button type="submit">Atualizar</button>
        </form>

    </div>

</body>
</html>