<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>


</style>

<body>
    <div class="cadastrar">
        <form th:action="@{/add}" method="post">
            <input type="text" name="todo">
            <button type="submit">novo</button>
        </form>
    </div>


    <ul>
        <li th:each="nome : ${lista}"> 
                <span th:text="${nome}"> </span>
                <a href="#"> Feito </a>
                <a href="#"> Desfazer </a>
                <a href="#"> Remover </a>
        </li>
    </ul>


</body>
</html>